/* common related styles */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 50px 140px 0px;
}
main{
    padding: 0px 140px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* banner or header related styles */
.banner-image{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../resources/Banner_Image.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 16px;
}
.banner-title{
    padding: 15% 10% 0%;
    align-items: center;
}
.banner-title h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.banner-title h2{
    color: #FFF;
    text-align:center;
    font-family: 'Merriweather';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
/* main related styles */
.holiday-deals{
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: normal;
    font-style: normal;
    padding-top: 120px;
}
.holiday-deals h1{
    color: #F00; 
    font-size: 88px;
    font-weight: 700;    
}
.holiday-deals p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 20px;
}
.holiday-deals h2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-transform:uppercase;
    padding-top: 0;
    margin-bottom: 50px;   
}
.holiday-deals-image{
    padding-bottom: 200px;

}
.midnight-party{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../resources/Vectorrr.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
}
 .midnight-party-content{
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
 }
 .midnight-party-details{
    width: 70%;
 }
.midnight-party-details h1{
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 10px;
}
.midnight-party-details p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;  
}
.midnight-party-details .btn-join{
    background-color: transparent;
    border: 1px solid black;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 7px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.midnight-party-image{
    display: flex;
    justify-content: center;
}
.midnight-party-image img{
    width: 90%;
}
.new-offers{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;    
}
.new-offers-coming h5{
    color: #F00;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.new-offers-coming h3{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
    margin: 20px 0px ;
}
.new-offers-coming p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.new-offers-details h3{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.new-offers-details p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin:20px 0px 25px 0px;
}
.new-offers-image{
    padding: 0px 30px;
    display: flex;
    justify-content: center;
}
.new-offers-image img{
    height: 70%;
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 30px;
}
.best-gifts-title h5{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.best-gifts-title h2{
    color: #070211;
    font-family: 'Merriweather', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 20px 0px 20px 0px;
}
.best-gifts-title p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.gift-images img{
    width: 90%;
    transition: all 1s ease-in-out;
}

.gift-images{
    display: flex;
    justify-content: center;
}

.gift-images:hover img{
    transform: scale(1.1);
}

.best-gifts-image-first, .best-gifts-image-second{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.subscribe{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.newsletter{
    display: flex;
}
.subscribe-newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 80px;
    padding: 40px;
    font-style: normal;
    text-align: center;
}
.subscribe-newsletter h2{
    color: #070211;
    font-family: 'Merriweather' ,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    margin:20px 0px 20px 0px ;
}
.subscribe-newsletter p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}
.email-type{
    width: 648px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    padding: 30px 20px;
}
.email-type:focus{
    outline: none;
} 
.btn-primary{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 30px 50px;
    border: none;
    cursor: pointer;
}
/* footer related styles */

footer{
    background: #070211;
    color:#FFF;
    padding: 100px;
    margin-top: 100px;   
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
 }
 .footer-column{
    display: flex;
    justify-content: space-between;
 }
 .footer-column-address, .footer-column-contacts{
    line-height: 40px;
 }

 .footer-column-contacts i, .footer-column-contacts a{
    padding: 5px;
    text-decoration: none;
    color: #FFF;
 }
 .footer-column-line{
    width: 100%;
    height: 1px; 
    background: rgba(255, 255, 255, 0.15);
    margin: 50px 0px; 
 }
.social-links-icon{
   display: flex;
   justify-content: center;
}
.social-links-icon a{
    text-decoration: none;
    margin: 20px;
}

.footer-end-section{
    display: flex;
    justify-content: space-between;
}
.button-end{
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    border: none;
    cursor: pointer;
}